body {
    background-color: rgb(226, 238, 240);
    align-self: center;
}

header {
    text-align: center;
    font-size: x-large;
    letter-spacing: 1px;
}

.grid-container {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.map-container {
    grid-column: 1 / 3;
    border: 2px solid #000000;
    border-radius: 25px;
}

.cluster-container {
    grid-column: 3 / 4;
    border: 2px solid #000000;
    border-radius: 25px;
}

.graph-container {
    margin: 0;
    padding: 0;
    position: relative;
    border: 2px solid #000000;
    border-radius: 25px;
}

.graph-container > div {
    position: absolute;
    display: flex;
    border: 2px solid #000000;
    border-radius: 25px;
}

.map-legend > rect {
    width: 150px;
    height: 130px;
}

.tooltip > rect {
    width: 125px;
    height: 20px;
}

.graph-container > select {
    margin-left: 10px;
    margin-bottom: 20px;
    justify-self: start;
}

.graph-container > span {
    margin-left: 20px;
}